<section class="block container">
    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, itaque.</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy To Use</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum possimus esse qui eaque deleniti nihil. Illo odit inventore facere eveniet!</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img class="feature__image" src="images/easy.webp" alt="">
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Simply Fast Websites</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum possimus esse qui eaque deleniti nihil. Illo odit inventore facere eveniet!</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img class="feature__image" src="images/fast.webp" alt="">
    </article>
  </section>